
/*时间轴的详细格式*/
#bottom_timeline .selection{
  fill:none;
  rx: 5px;ry: 5px;
  stroke:#ada63c;
  stroke-width:2px;
}
#bottom_timeline .axis path,.axis line {
  fill: none;
  stroke: none;
}

#bottom_timeline text {
  fill: #959595 !important;
  font-family: Microsoft YaHei;
  font-size: 9px;
}
.times text {
  font-family: Microsoft YaHei;
  font-size: 9px;
}
#bottom_timeline .axis line,.axis path {
  fill: none;
  stroke: #959595;
  opacity:0.5;
  stroke-width:0.5px;
}
#bottom_timeline .axis_tick text { fill:none;}
#bottom_timeline .axis_tick line,.axis_tick path {
  fill: none;
  stroke: #959595;
  opacity:0.5;
  stroke-width:0.5px;
}
#bottom_timeline .brush .overlay {
  fill: none;
  stroke: #959595;
  opacity:0.5;
  stroke-width:0.5px;
}
.timeline_path{
  fill:#2b516c;
}
.handle--lower{
  fill:#ada63c;
}
.upper_timerange{
  fill:none;
  stroke:#ada63c;
  stroke-width:2px;
  stroke-dasharray:14;
  stroke-linecap:round;
  rx:2px;ry:2px;
}
.peakRect rect{
  fill:none;
  stroke:#ada63c;
  stroke-width:1px;
  stroke-dasharray:14;
  stroke-linecap:round;
  rx:2px;ry:2px;
}
#bottom_timeline .upper_timerange_t{
  fill:none;
  stroke:#ada63c;
  stroke-width:2px;
}
#bottom_timeline .timeline_path_stroke{
  fill:none;
  stroke:#1e8faa;
  stroke-width:3px;
  stroke-linecap:round;
}
#bottom_timeline .overlay {
  fill: white !important;
  stroke: #959595 !important;
  stroke-width:0.5px !important;
  stroke-opacity:0.5 !important;
  fill-opacity:0 !important;
}
#title svg{
  position: absolute;
  left: 50%;
  top: 30%;
  s-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#title text {
  fill: #959595;
  font-family: Microsoft YaHei;
  font-size: 12px;
}
#detail svg{
  position: absolute;
  top: 40%;
  left: 5%;

}

#right_detail text{
  fill: #959595;
  font-family: Microsoft YaHei;
}

#draw text{
  fill: #959595;
  font-family: Microsoft YaHei;
  font-size: 16px;
}
#selectTime {
  position: absolute;
  left: 5%;

}
#selectTime label{
  color: #959595;
  font-family: Microsoft YaHei;
}
/*下拉框样式*/
select{
  font-family: "微软雅黑";
  margin:10px;
  background: rgba(0,0,0,0);
  width: 80px;
  height: 30px;
  font-size: 12px;
  color: white;
  text-align: center;
  border: 1px #1a1a1a solid;
  border-radius: 5px;
}
option{
  color: black;
  background: #A6E1EC;
  line-height: 20px;
}
select:focus{
  border: 2px #ddd solid;
  box-shadow: 0 0 15px 1px #DDDDDD;
}
option:hover{
  background: #EBCCD1;
}
#nodesLevel circle{
  z-index: 1000;
}
