@circle-color: #303243;

#layout-panel {
  position: absolute;
  height: calc(65% - 5px);
  width: calc(65% - 255px);
  left: 5px;
  top: 5px;
  background: #303243;

  #layContainer {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
  }

  .view {
    width: 100%;
    height: calc(100% - 44.8px);
    display: flex;
    position: relative;
    float: left;
  }

  .view-svg {
    width: 100%;
    height: 100%;

    .node {
      fill: @circle-color;

      .simpleCircle {
        stroke: #eee;
      }
    }

    .node.drag-active {
      fill: #8c8c8c;
    }

    .node.hover-active {
      fill: #8c8c8c;
    }

    .node:hover {
      cursor: pointer;
    }

    .centerPath {
      stroke: #888;
      fill: none;
    }

    .link {
      path {
        stroke: #888;
        fill: none;
      }
    }

    .linkH {
      stroke: #cacacc;
    }
  }
}

#legend-index {
  position: absolute;
  height: calc(65% - 5px);
  width: calc(255px);
  left: calc(65% - 255px);
  top: 5px;
  background: #303243;

  .legend {
    width: 255px;

    table td {
      vertical-align: middle;
    }

    table td svg {
      display: table-cell;
    }

    #time_legend {
      border-bottom: 1px dashed #8e6bc4;
    }

    #nodes_legend {
      border-bottom: 1px dashed #8e6bc4;
    }

    #control_legend {
      color: white;
      border-bottom: 1px dashed #8e6bc4;

      .layout-btn {
        height: 20px;
        text-align: center;
        width: 29%;
        line-height: 15px;
        vertical-align: middle;
        border-radius: 5px;
        background-color: gray;
        margin: 2px 2px;
      }

      .active {
        background-color: #00bcd4;
      }
    }

    #level_legend {
      .levelText {
        color: #959595;
      }
    }

    #time_legend, #nodes_legend, #control_legend, #level_legend {
      padding: 5px 0;
      margin: 0 30px;
    }

    .network_text1 {
      color: #959595;
      font-family: Microsoft YaHei, serif;
      font-size: 8px;
    }

    .network_text2 {
      color: white;
      font-size: 18px;
      font-family: Consolas, serif;
      letter-spacing: -1px;
    }

    .network_text3 {
      color: white;
      font-family: Microsoft YaHei, serif;
    }

    .network_text4 {
      color: #959595;
      font-family: Microsoft YaHei, serif;
      font-size: 14px;
    }
  }
}
